/wiki
/attach
/backup
/cache
/counter
/diff
/shortener
/shortener_counter

/attach/*.[0-9]
/attach/*.log
/backup/*.gz
/cache/*.ref
/cache/*.rel
/counter/*.count
/counter/*.db
/shortener/*.txt
/shortener_counter/*.count

/diff/*.txt
/wiki/*.txt
/wiki.en/*.txt

/nbproject/**
/.vscode/

# Composer files
/vendor/

# Log
/log/
/updateslog/
/node_modules/
/package-lock.json

